@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="min-width:300px">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>