@using AdminPanel.Auth
@using AdminPanel.Domain.Models.Auth.Requests
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject IAuthApi Api
@inject NavigationManager Navigation
@inject JwtAuthenticationStateProvider AuthProvider


<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar" style="min-width:300px">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <article class="content px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="d-flex justify-content-end mb-2">
                        <span class="me-3">Пользователь @context.User.Identity.Name </span>
                        <button class="btn btn-outline-secondary btn-sm" @onclick="Logout">Выйти</button>                    </div>
                </Authorized>
            </AuthorizeView>
            @Body
        </article>
    </main>
</div

@code {
    private async Task Logout()
    {
        var refreshToken = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "refreshToken");
        if (!string.IsNullOrEmpty(refreshToken))
        {
            try
            {
                await Api.LogoutAsync(new RefreshTokenRequest { RefreshToken = refreshToken });
            }
            catch { }
        }
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "accessToken");
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "refreshToken");
        AuthProvider.NotifyUserLogout();
        Navigation.NavigateTo("/login", true);
    }
}